<h1 class='s-h1'><%= @module.name %></h1>
<p class='s-p'><%= @module.inning.name %> inning</p>
<%= link_to @module.google_spreadsheet_id %>
<p class='s-p'>Calendar Integration: <%= @module.calendar_integration ? 'ON':'OFF' %></p>
