<h1>Admin Dashboard</h1>

<h2>Innings</h2>
<section class="innings-list">
<% @innings.each do |inning| %>
  <ul>
  <section id="inning-<%= inning.id %>">
    <%= link_to "Edit", admin_inning_path(inning) %>
    <% if inning.current %>
      <%= "#{inning.name} - Start Date: #{inning.start_date.strftime('%d%b%Y')} (Current Inning)" %>
    <% else %>
      <%= "#{inning.name} - Start Date: #{inning.start_date.strftime('%d%b%Y')}" %>
    <% end %>
  </section>
  </ul>
<% end %>
</section>
