<h3>Take Attendance for a Slack or Zoom Meeting</h3>
<%= form_with model: [mod, attendance], local: true, id: 'take-attendance' do |f| %>
  <p class='s-p'>
    <%= f.label :meeting_url, "Enter the Zoom or Slack Link" %>
    <%= f.text_field :meeting_url %>
  </p>
  <%= f.submit 'Take Attendance', class: 's-button' %>
<% end %>