<h1 class='s-h1'><%= @student.name %></h1>
<h3 class='s-h3'><%= @student.turing_module.name %></h3>
<p class='s-p'>Zoom Email: <%= @student.zoom_email %></p>
<p class='s-p'>Zoom ID: <%= @student.zoom_id %></p>
