<p>You currently do not have an assigned module. Please select your Module from the list below to get started</p>
<%= render partial: 'shared/module_list', locals: {modules: current_inning.turing_modules} %>

