<h2>Select your Course from Populi</h2>
<section id='best-match'>
  <p>Is this your Populi Course?</p> 
  <ul>
    <li><p>Inning: <strong><%= facade.current_term_name %></strong></p></li>
    <li><p>Course Name: <strong><%= facade.matching_module.name %></strong></p></li>
  </ul>
  <p>
    <%= button_to "Yes", turing_module_populi_path(facade.module), params: {course_id: facade.matching_module.id}, class: "s-button", form_class: 'populi-match', data: {turbo: false} %>
    <%= button_to "No", turing_module_populi_path(facade.module), form_class: 'populi-match', class: "s-button", data: {turbo: false} %>
  </p>
  
</section>
