<h2>Select your Course from Populi</h2>
<section id='best-match'>
  <p>Is this your Populi Course?
  <strong><%= facade.matching_module.name %></strong>
  <%= button_to "Yes", turing_module_slack_channel_import_path(facade.module), method: :get, class: 's-button' %>
  <br>
  </p>
</section>
