body {
  font-family: var(--s-font-family-default);
}
td {
  padding: 10px;
}
#main-content {
  padding: 10px;
}

/* splits dashboard into two columns */
.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0px 40px;
}

.column {
  flex: 50%;
  /* margin: */
}

.col-padded {
  margin-top: 43px;
  text-align: center;
}

.columntwo {
  flex: 50%;
  text-align: center;
}


/* styling to create pairs link on dashboard */
.pair-button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 40px 25px;
  cursor: pointer;
  background-color: #4D4D4F;
  border-radius: 7px;
}

/* visited pairs link */
.pair-button:visited, .pair-button:link {
  color: white;
  text-decoration: none;
}

/* partial header */
.pair-header {
  text-align: center;
}

/* form to add pairs on pairs/index */
.new-pair {
  margin-right: 5px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 50%;
}

.pair-form input, select {
  width: 60%;
  padding: 12px 20px;
  margin: auto;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.pair-form input[type=submit] {
  width: 50%;
  background-color: #414BB2;
  color: white;
  padding: 14px 20px;
  margin: 10px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
