body {
  font-family: var(--s-font-family-default);
}
td {
  padding: 10px;
}
#main-content {
  padding: 10px;
}

/* splits dashboard into two columns */
.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  flex: 50%;
}

.columntwo {
  flex: 50%;
  text-align: center;
  font-size: 24px;
  padding-top: 25px;
}

/* styling to create pairs link on dashboard */
.pair-button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #4D4D4F;
  border-radius: 7px;
}

/* visited pairs link */
.pair-button:visited, .pair-button:link {
  color: white;
  text-decoration: none;
}
